/*
 * Bootstrap v3.2.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=3ae6aecce402eca8454f)
 * Config saved to config.json and https://gist.github.com/3ae6aecce402eca8454f
 */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  width: 100% 9;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100% 9;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, -25%, 0);
  -webkit-transform: translate3d(0, -25%, 0);
  -ms-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.in {
  opacity: 0.5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
input {
  text-align: center;
}
body {
  background: #fff;
}
button {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #0074d9;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 0px !important;
}
button:hover,
button:focus {
  background-color: #006ece;
  color: #f7f7f7;
}
button:active {
  background-color: #0068c3;
}
.buttonBr {
  height: 15px;
}
.levelButtonsWrapper {
  margin-bottom: 17px;
  height: 33px;
  width: 210px;
  text-align: center;
}
.addNodeButtonWrapper {
  position: relative;
  width: 200px;
  text-align: center;
}
.addNodeButton,
.addFirstNode {
  background-image: url("../images/add_list-26.png");
  background-repeat: no-repeat;
  background-position: 13%;
  padding: 0px 0px 0px 30px;
  color: #222;
  height: 33px;
  width: 110px;
  position: relative;
  top: -55px;
}
.addFirstNode {
  top: 0px;
}
.addLevelButtonWrapper {
  position: relative;
  bottom: 53px;
  right: -345px;
  width: 125px;
}
.addLevelButton {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #2ecc40;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: #222;
  padding: 0px 0px 0px 30px;
  width: 130px;
  height: 33px;
  background-image: url("../images/add_column-26.png");
  background-repeat: no-repeat;
  background-position: 13%;
}
.addLevelButton:hover,
.addLevelButton:focus {
  background-color: #2cc23d;
  color: #f7f7f7;
}
.addLevelButton:active {
  background-color: #29b83a;
}
.removeLevelButton {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #d13f19;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: #222;
  padding: 0px 0px 0px 30px;
  width: 130px;
  height: 33px;
  background-image: url("../images/delete_column-26.png");
  background-repeat: no-repeat;
  background-position: 13%;
}
.removeLevelButton:hover,
.removeLevelButton:focus {
  background-color: #c73c18;
  color: #f7f7f7;
}
.removeLevelButton:active {
  background-color: #bc3917;
}
.greetings {
  font-size: 28.8px;
  font-size: 1.8rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
  text-align: center;
}
.levelContanter {
  padding-top: 10px;
  overflow-x: auto;
  width: auto;
  height: 90vh;
  margin: 3px;
  border: 3px solid #222;
}
.level {
  display: table-cell;
  min-width: 305px;
}
#editModalTextbox {
  width: 598px;
  height: 600px;
  resize: none;
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: none;
  outline: none;
  border: 0px solid;
}
.node {
  padding: 2px 0 8px 5px;
  width: 300px;
  height: 200px;
}
.node .nodeCanvas {
  width: 200px;
  height: 100%;
  float: left;
}
.node .nodeCanvas textarea {
  resize: none;
  overflow-x: auto;
  white-space: nowrap;
  border: 2px solid #777;
  vertical-align: top;
  width: 200px;
  height: 100%;
  box-shadow: none;
  outline: none;
}
.node .buttons {
  margin-left: 0px;
  display: inline-block;
  width: 50px;
  height: 100%;
}
.node .buttons .linkButton {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #0074d9;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  visibility: hidden;
  background-image: url("../images/link-26.png");
  background-repeat: no-repeat;
  background-position: 15%;
  padding: 0px 0px 0px 20px;
  color: #222;
  width: 80px;
}
.node .buttons .linkButton:hover,
.node .buttons .linkButton:focus {
  background-color: #006ece;
  color: #f7f7f7;
}
.node .buttons .linkButton:active {
  background-color: #0068c3;
}
.node .buttons .linkButton:focus {
  background-color: #003a6d;
}
.node .buttons .dndButton {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #ad3eff;
  color: #494949;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  visibility: hidden;
  background-image: url("../images/hand_cursor-26.png");
  background-repeat: no-repeat;
  background-position: 15%;
  padding: 0px 0px 0px 20px;
  color: #222;
  width: 80px;
}
.node .buttons .dndButton:hover,
.node .buttons .dndButton:focus {
  background-color: #a62eff;
  color: #474747;
}
.node .buttons .dndButton:active {
  background-color: #a01eff;
}
.node .buttons .dndButton:active {
  background-color: #5b009f;
}
.node .buttons .deleteLinkButton {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #ff6464;
  color: #494949;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  position: relative;
  bottom: -68px;
  visibility: hidden;
  background-image: url("../images/delete_link-26.png");
  background-repeat: no-repeat;
  background-position: 15%;
  width: 80px;
  padding: 0px 0px 0px 30px;
  color: #222;
}
.node .buttons .deleteLinkButton:hover,
.node .buttons .deleteLinkButton:focus {
  background-color: #ff5252;
  color: #474747;
}
.node .buttons .deleteLinkButton:active {
  background-color: #ff4141;
}
.node .buttons .deleteDragButton {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #de2eff;
  color: #494949;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  position: relative;
  bottom: -66px;
  visibility: hidden;
  background-image: url("../images/delete_hand26.png");
  background-repeat: no-repeat;
  background-position: 15%;
  width: 80px;
  padding: 0px 0px 0px 30px;
  color: #222;
}
.node .buttons .deleteDragButton:hover,
.node .buttons .deleteDragButton:focus {
  background-color: #dc1fff;
  color: #474747;
}
.node .buttons .deleteDragButton:active {
  background-color: #d910ff;
}
.node .buttons .editButton {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #ff851b;
  color: #494949;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  position: relative;
  top: -93px;
  background-image: url("../images/edit-26.png");
  background-repeat: no-repeat;
  background-position: 15%;
  color: #222;
  padding: 0px 0px 0px 20px;
  width: 80px;
}
.node .buttons .editButton:hover,
.node .buttons .editButton:focus {
  background-color: #ff7d0d;
  color: #474747;
}
.node .buttons .editButton:active {
  background-color: #fe7600;
}
.node .buttons .editButton:hover {
  color: #fff;
}
.node .buttons .delButton {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #aaa;
  color: #494949;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: #222;
  padding: 0px 0px 0px 25px;
  position: relative;
  top: -35px;
  background-image: url("../images/delete-26.png");
  background-repeat: no-repeat;
  background-position: 15%;
  width: 80px;
}
.node .buttons .delButton:hover,
.node .buttons .delButton:focus {
  background-color: #a1a1a1;
  color: #474747;
}
.node .buttons .delButton:active {
  background-color: #999;
}
.node .buttons button {
  height: 30px;
  width: 40px;
}
.levelText {
  padding-left: 10px;
  width: 200px;
  text-align: center;
  position: relative;
  top: -1px;
}
.levelName {
  position: relative;
  border: 1px solid #bababa;
}
.matrixPosition {
  visibility: hidden;
  position: relative;
  left: 30px;
  bottom: 45px;
  font-weight: bold;
}
.nodeName {
  position: relative;
  border-radius: 0px !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  border: solid 1px #bbb;
  border-radius: 0.2em;
  outline: none;
  padding: 0.45em;
  background: #fff;
  color: #555;
  width: 80px;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  font-size: 12px;
  top: -150px;
}
.nodeName:focus {
  box-shadow: 0 0 5px rgba(0,116,217,0.7);
  border: 1px solid #2671b3;
  outline: none;
}
.nodeName:disabled {
  background-color: #ebebe4;
}
#settingsSaveButton {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #2ecc40;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}
#settingsSaveButton:hover,
#settingsSaveButton:focus {
  background-color: #2cc23d;
  color: #f7f7f7;
}
#settingsSaveButton:active {
  background-color: #29b83a;
}
#settingsCancelButton {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #d13f19;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}
#settingsCancelButton:hover,
#settingsCancelButton:focus {
  background-color: #c73c18;
  color: #f7f7f7;
}
#settingsCancelButton:active {
  background-color: #bc3917;
}
.controlPanel {
  height: 9vh;
  margin-left: 3px;
}
.controlPanel #doneButton {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #ff851b;
  color: #494949;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.controlPanel #doneButton:hover,
.controlPanel #doneButton:focus {
  background-color: #ff7d0d;
  color: #474747;
}
.controlPanel #doneButton:active {
  background-color: #fe7600;
}
.controlPanel #startButton {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #2ecc40;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  display: none;
}
.controlPanel #startButton:hover,
.controlPanel #startButton:focus {
  background-color: #2cc23d;
  color: #f7f7f7;
}
.controlPanel #startButton:active {
  background-color: #29b83a;
}
.controlPanel #backButton {
  display: none;
}
.controlPanel #settingsButton {
  float: right;
  margin-right: 5px;
  background-image: url("../images/settings-25.png");
  background-repeat: no-repeat;
  background-position: 15%;
  padding: 0px 0px 0px 30px;
  color: #222;
  width: 100px;
  height: 33px;
}
.controlPanel .consoleWrapper {
  float: right;
  margin-right: 3px;
  overflow: auto;
  height: 9vh;
  width: 630px;
  border: 1px solid #222;
}
.outputNode {
  display: inline-block;
  width: 10%;
  height: 300px;
  margin: 0px 1px 0px 1px;
}
.outputNode textarea {
  width: 100%;
  height: 100%;
  resize: none;
  box-shadow: none;
  outline: none;
}
.outputNodeName {
  display: inline-block;
}
.line,
.linetemp {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  border-top: 1px solid rgba(255,255,255,0);
  height: 1px;
  background: #000;
  z-index: -2;
}
.modal-content {
  border-radius: 0px !important;
}
.slider {
  background: #ccc;
  margin-top: 15px;
}
.knob {
  position: relative;
  background: #d13f19;
}
.outputContainer {
  text-align: center;
}
#outputSlider {
  visibility: hidden;
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 2;
}
