@import 'nib'
@import 'vendor/axis/index'
@import 'vendor/jeet/index'
@import 'vendor/bootstrap'
normalize-css()

input
   text-align center // placeholders

body
	background #fff

button
	button()
	outline: none;
	border-radius 0px !important

.buttonBr
	height 15px
	
.dndButton
	button(#5A009D)
	padding-left 5px
	padding-right 5px
	

.linkButton
	margin-bottom 2px
	
.delButton
	button(gray)
	position relative
	bottom -10px

.addLevelButton
	button(green)
	width 125px

.levelButtonsWrapper
	margin-bottom: 17px;
	height 33px
	width 210px
	text-align center

.addNodeButtonWrapper
	width:200px;
	text-align:center;

.addLevelButtonWrapper
	position relative
	bottom 53px
	right -348px
	width 125px

.removeLevelButton
	button(red)
	width 125px
	
.greetings
	h2()
	text-align center


.levelContanter
	padding-top 10px
	overflow-x auto
	width auto
	height 90vh;
	margin 3px 
	border 3px solid black

.level
	display table-cell
	min-width 305px
	
#editModalTextbox
	width 598px
	height 600px
	resize: none
	overflow-x auto
	white-space: nowrap
	box-shadow: none
	outline: none
	border 0px solid

.node
	padding 5px 0 8px 5px
	width 300px
	height 200px
	.nodeCanvas
		width 200px
		height 100%
		float left
		textarea
			resize: none
			overflow-x auto
			white-space: nowrap;
			border 2px solid #777
			vertical-align top
			width 200px
			height 100%
			box-shadow: none;
			outline: none;
	.buttons
		.linkButton
			visibility hidden
			padding-left 5px
			padding-right 5px
		.dndButton
			visibility hidden
		.editButton
			button(orange)
		margin-left: 0px;
		display inline-block
		width 50px
		height 100%
		button
			width 80px
		
.levelText
	padding-left 10px
	width 200px
	text-align center

.levelName
	position relative
	top: 1px
	border 1px solid #bababa

.matrixPosition
	position relative
	left 30px
	bottom 45px  
	font-weight bold

.nodeName
	position relative
	border-radius 0px !important
	margin-top 2px
	input: blue 80px
	font-size 12px
	&:disabled
		background-color: rgb(235, 235, 228)
	
	
#settingsSaveButton
	button green

#settingsCancelButton
	button red


.controlPanel
	height 9vh
	margin-left 3px
	#doneButton
		button(orange)
	#startButton
		button(green)
		display none
	#backButton
		display none
	#settingsButton
		float right
		margin-right 5px
	.consoleWrapper
		float right
		margin-right 3px
		overflow auto
		height 9vh
		width 630px
		border 1px solid black

.outputNode
	display inline-block
	width 25%
	height 300px
	textarea
		width 100%
		height 100%
	
		
.line
.linetemp
	transform: translate3d(0,0,0);
	transform-origin: 0 100%;
	border-top: 1px solid rgba(255, 255, 255, 0);
	height 1px
	background: #000;
	z-index -2

.modal-content
	border-radius 0px !important