<!DOCTYPE html>
html(lang='en')
	head
		meta(charset='UTF-8')
		title comgen2
		link(rel="stylesheet", href="css/main.css")
	body
		//- .greetings hello motherfucker
		.levelContanter

		//- bootstrap last level delete modal
		.modal.lastLevelModal.fade.bs-example-modal-sm()
			.modal-dialog
				.modal-content
					p(style="padding: 15px") you can not delete the last level
					button(style="margin-left: 15px" data-dismiss="modal") okay :(
		//- # # # # #

		//- bootstrap edit node content modal
		.modal.editModal.fade.bs-example-modal-sm()
			.modal-dialog
				.modal-content
					textarea(id="editModalTextbox" style="padding: 15px")
					<br>
					button(id="editModalDoneButton" style="margin-left: 15px") done
		//- # # # # #

		//- bootstrap settings modal
		.modal.settingsModal.fade.bs-example-modal-sm()
			.modal-dialog
				.modal-content
					p(style="padding: 15px") comgen2 beta v0.1.141124 build qag (17:17)
					//- a 1
					//- b 2
					//- c 3
					//- d 4
					//- e 5
					//- f 6
					//- g 7
					//- h 8
					//- i 9
					//- j 10
					//- k 11
					//- l 12
					//- m 13
					//- n 14
					//- o 15
					//- p 16
					//- q 17
					//- r 18
					//- s 19
					//- t 20
					//- u 21
					//- v 22
					//- w 23
					//- x 24
					input(id="checkboxSortOutput" style="margin-left: 10px" type="checkbox") 
					|&nbsp;&nbsp;sort output by alphabetical order
					<br>
					input(id="checkboxConfirmation" style="margin-left: 10px" type="checkbox") 
					|&nbsp;&nbsp;do not request confirmation on deleting
					<br><br>
					button(id="settingsSaveButton" style="margin-left: 15px" data-dismiss="modal") save
					|&nbsp;&nbsp;(clicking outside will save settings too)
					//- button(id="settingsCancelButton" style="margin-left: 15px" data-dismiss="modal") cancel
		//- # # # # #

		//- bootstrap delete node
		.modal.deleteNodeModal.fade.bs-example-modal-sm()
			.hiddenInfo
			.modal-dialog
				.modal-content
					p(style="padding: 15px") are you sure you want to delete this node?
					button(id="deleteNodeYes" style="margin-left: 15px" data-dismiss="modal") Yes
					button(id="deleteNodeNo" style="margin-left: 15px" data-dismiss="modal") No
		//- # # # # #

		//- bootstrap devete level
		.modal.deleteLevelModal.fade.bs-example-modal-sm()
			.hiddenInfo
			.modal-dialog
				.modal-content
					p(style="padding: 15px") are you sure you want to delete this level?
					button(id="deleteLevelYes" style="margin-left: 15px" data-dismiss="modal") Yes
					button(id="deleteLevelNo" style="margin-left: 15px" data-dismiss="modal") No
		//- # # # # #

		.controlPanel
			.consoleWrapper
				.console
			button#doneButton done. go to linking
			button#backButton go back to layout
			button#startButton okay, let's go!
			button#settingsButton settings
		.outputContainer
		script(src='js/app.js')