<!DOCTYPE html>
html(lang='en')
	head
		meta(charset='UTF-8')
		title comgen2. the ultimate combination tool
		link(rel="stylesheet", href="css/main.css")
		link(rel="icon", href="favicon.ico")
	body
		//- .greetings hello motherfucker
		.levelContanter

		//- bootstrap last level delete modal
		.modal.lastLevelModal.fade.bs-example-modal-sm()
			.modal-dialog
				.modal-content
					p(style="padding: 15px") you can not delete the last level
					button(style="margin-left: 15px" data-dismiss="modal") okay :(
		//- # # # # #

		//- bootstrap edit node content modal
		.modal.editModal.fade.bs-example-modal-sm()
			.modal-dialog
				.modal-content
					textarea(id="editModalTextbox" style="padding: 15px")
					<br>
					button(id="editModalDoneButton" class="yesButton" style="margin-left: 15px") done
					p(style="float:right;margin-right:30px") ctrl/cmd + enter works fine
					p(class='editRadio')
						input(type="radio" name="opt" id="allLO")
						|foo bar baz
						<br>
						input(type="radio" name="opt" id="allUP")
						|FOO BAR BAZ
						<br>
						input(type="radio" name="opt" id="wordsUP")
						|Foo Bar Baz
						<br>
						input(type="radio" name="opt" id="wordsLO")
						|fOO bAR bAZ
						<br>
						input(type="radio" name="opt" id="stringUP")
						|Foo bar baz
						<br>
						input(type="radio" name="opt" id="stringLO")
						|fOO BAR BAZ
						<br>
						input(type="radio" name="opt")
						|no changes
						
		//- # # # # #

		//- bootstrap settings modal
		.modal.settingsModal.fade.bs-example-modal-sm()
			.modal-dialog
				.modal-content
					img(class="logo" src='images/logo.png')
					p(style="padding: 15px") v0.7.150124qcb
					//- https://gist.github.com/mjrev/ff35b6f05ad4dbeb7fa1
					input(id="checkboxSortOutput" style="margin-left: 10px" type="checkbox") 
					|&nbsp;&nbsp;sort output by alphabetical order
					<br>
					input(id="checkboxConfirmation" style="margin-left: 10px" type="checkbox") 
					|&nbsp;&nbsp;do not request confirmation on deleting
					<br>
					input(id="checkboxPerformance" style="margin-left: 10px" type="checkbox") 
					|&nbsp;&nbsp;removes all non-functional elements on computing <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(may slightly increase performance, needs refreshing page after each computing)
					<br>
					input(id="checkboxAutosave" style="margin-left: 10px" type="checkbox") 
					|&nbsp;&nbsp;enable autosave
					<br>
					h4
						|&nbsp;&nbsp;<span style="color:#a00">warning!</span> huge combinations can cause your browser to crash.
					button(id="settingsSaveButton" style="margin-left: 15px" data-dismiss="modal") save
					|&nbsp;&nbsp;(clicking outside will save settings too)
					p(style="float:right;position:relative;top:-6px;left:-5px")
						a(href="http://7prism.com" target="_blank")
							img(src="images/0-small.png" style="width:30px;position:relative;top:-8px")
		//- # # # # #

		//- bootstrap delete node
		.modal.deleteNodeModal.fade.bs-example-modal-sm()
			.hiddenInfo
			.modal-dialog
				.modal-content
					p(style="padding: 15px") are you sure you want to delete this node?
					button(id="deleteNodeYes" class="yesButton" style="margin-left: 15px" data-dismiss="modal") Yes
					button(id="deleteNodeNo" class="noButton" style="margin-left: 15px" data-dismiss="modal") No
		//- # # # # #

		//- bootstrap devete level
		.modal.deleteLevelModal.fade.bs-example-modal-sm()
			.hiddenInfo
			.modal-dialog
				.modal-content
					p(style="padding: 15px") are you sure you want to delete this level?
					button(id="deleteLevelYes" class="yesButton" style="margin-left: 15px" data-dismiss="modal") Yes
					button(id="deleteLevelNo" class="noButton" style="margin-left: 15px" data-dismiss="modal") No
		//- # # # # #

		//- bootstrap coffee
		.modal.coffeeModal.fade.bs-example-modal-sm()
			.hiddenInfo
			.modal-dialog.coffeeModalDialog
				.modal-content
					p(style="padding: 15px")
						img(class='coffeeImg' src='images/coffee.jpg')
		//- # # # # #

		.controlPanel
			.consoleWrapper
				.console
			button#doneButton done. go to linking
			button#backButton cancel. back to editing
			button#startButton compute results
			button#csvExportButton export to CSV
			button#saveNodesButton save progress
			button#loadNodesButton load progress
			button#settingsButton settings
			#linesControl
				button#linesUp ^
				button#linesDown v
			#linesControlText lines position:
		#outputSlider
		script(src='js/app.js')
		script.
			(function (d, w, c) {
			    (w[c] = w[c] || []).push(function() {
			        try {
			            w.yaCounter27279434 = new Ya.Metrika({id:27279434,
			                    webvisor:true,
			                    clickmap:true,
			                    trackLinks:true,
			                    accurateTrackBounce:true});
			        } catch(e) { }
			    });

			    var n = d.getElementsByTagName("script")[0],
			        s = d.createElement("script"),
			        f = function () { n.parentNode.insertBefore(s, n); };
			    s.type = "text/javascript";
			    s.async = true;
			    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

			    if (w.opera == "[object Opera]") {
			        d.addEventListener("DOMContentLoaded", f, false);
			    } else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		noscript.
			<div><img src="//mc.yandex.ru/watch/27279434" style="position:absolute; left:-9999px;" alt="" /></div>