@import 'nib'
@import 'vendor/axis/index'
@import 'vendor/jeet/index'
@import 'vendor/bootstrap'
normalize-css()

removeLevelButtonColor = red
addLevelButtonColor = green

editButtonColor = #F7D43A
addNodeButtonColor = red
addNodeButtonColor = red
doneButtonColor = #0B7700
startButtonColor = red
csvExportButtonColor = red
settingsButtonColor = red

linkButtonColor = #5B49AC
dndButtonColor = #BD56BD
deleteLinkButtonColor = red
deleteDragButtonColor = red
delButtonColor = red // delete node
yesButtonColor = green
noButtonColor = red

#saveNodesButton
#loadNodesButton
	button(blue)
	width 100px
	padding 0px
	height 33px

#saveNodesButton
	margin-left 40px
	

.fpfooter
	position absolute
	bottom 20px
	width: 100%;
	text-align: center;

.tutorial
.fp
	font-family: Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif
	font-size 20px
	text-align center

.fpheader
	width 100%
	margin-top 200px

.fpLink
	color #8A8AF2;

.fpcontent
	width 100%

input
   text-align center // placeholders

body
	background #fff

button
	button()
	outline: none;
	border-radius 0px !important

.buttons div
	border-radius 0px !important
	

.sliderText
	margin-left 40px

.coffeeImg
	display block
	margin auto
	
.coffeeModalDialog
	width 340px

.logo
	width 350px
	float right
	margin 10px 10px 0px 0px
	
.buttonBr
	height 15px

.levelButtonsWrapper
	margin-bottom: 17px;
	height 33px
	width 210px
	text-align center

.addNodeButtonWrapper
	position relative
	width:200px;
	text-align:center;

	
.addNodeButton
	background-image: url(../images/add_list-26.png);
	background-repeat: no-repeat;
	background-position: 13%
	padding 0px 0px 0px 30px
	color black
	height 33px
	width 110px
	position relative
	top -58px

.addFirstNode
	@extends .addNodeButton
	top 0px


.addLevelButtonWrapper
	position relative
	bottom 53px
	right -345px
	width 125px

.addLevelButton
	button(addLevelButtonColor)
	color black
	width 130px
	padding 0px 0px 0px 30px
	height 33px
	background-image: url(../images/add_column-26.png);
	background-repeat: no-repeat;
	background-position: 11%
	position relative
	top -45px
	

.removeLevelButton
	button(removeLevelButtonColor)
	color black
	width 130px
	padding 0px 0px 0px 30px
	height 33px
	background-image: url(../images/delete_column-26.png);
	background-repeat: no-repeat;
	background-position: 11%
	
.greetings
	h2()
	text-align center


.levelContanter
	padding-top 10px
	overflow-x auto
	width auto
	height 90vh;
	margin 3px 
	border 3px solid black

.level
	display table-cell
	min-width 305px
	position relative
	bottom 0px
	
#editModalTextbox
	width 598px
	height 600px
	resize: none
	overflow-x auto
	white-space: nowrap
	box-shadow: none
	outline: none
	border 0px solid

.levelDragArea
	visibility hidden
	background: #FFF;
	border 2px solid black
	width: 60px;
	height: 20px;
	position: relative;
	top: -21px;
	right: -5px;

.levelDragButton
	button()
	border-radius 0px !important
	visibility hidden
	position: relative;
	top: -41px;
	right: -70px;
	width: 60px;
	height: 20px;
	padding: 0px;
	// line-height 1.4em
	background-image: url(../images/broadcasting-26.png);
	background-size 30%
	background-repeat: no-repeat;
	background-position: 50%
	


.node
	padding 2px 0 8px 5px
	width 300px
	height 200px
	.nodeCanvas
		width 200px
		height 100%
		float left
		textarea
			resize: none
			overflow-x auto
			white-space: nowrap;
			border 2px solid #777
			vertical-align top
			width 200px
			height 100%
			box-shadow: none;
			outline: none;
	.buttons
		.linkButton
			button(linkButtonColor)
			visibility hidden
			background-image: url(../images/link-26.png);
			background-repeat: no-repeat;
			background-position: 50%
			color black
			width 50px
			height 30px

		.dndButton
			button(dndButtonColor)
			position relative
			top -5px
			visibility hidden
			background-image: url(../images/hand_cursor-26.png);
			background-repeat: no-repeat;
			background-position: 50%
			color black
			width 50px
			height 30px

		.deleteLinkButton
			button(#FF6464)
			position relative
			bottom -60px
			visibility hidden
			background-image: url(../images/delete_link-26.png);
			background-repeat: no-repeat;
			background-position: 50%
			width 50px
			height 30px
			color black
		
		.deleteDragButton
			button(#de2eff)
			position relative
			bottom -55px
			visibility hidden
			background-image: url(../images/delete_hand26.png);
			background-repeat: no-repeat;
			background-position: 50%
			width 50px
			height 30px
			color black
			
		.editButton
			button(editButtonColor)
			position relative
			top -113px
			background-image: url(../images/edit-26.png);
			background-repeat: no-repeat;
			background-position: 15%
			color black
			padding 0px 0px 0px 20px
			width 80px
			&:hover
				color white
		
		.delButton
			button(gray)
			color black
			padding 0px 0px 0px 25px
			position relative
			top -36px
			background-image: url(../images/delete-26.png);
			background-repeat: no-repeat;
			background-position: 13%
			width 80px
			
		margin-left: 0px;
		display inline-block
		width 50px
		height 100%
		button
			height 30px
			width 40px
		
.levelText
	padding-left 10px
	width 200px
	text-align center
	position relative
	top -1px

.levelName
	position relative
	border 1px solid #bababa

.matrixPosition
	// visibility hidden
	position relative
	left 10px
	top -160px  
	font-weight bold

.nodeName
	position relative
	border-radius 0px !important
	input: blue 80px
	font-size 12px
	top -170px
	&:disabled
		background-color: rgb(235, 235, 228)
	

.editRadio
	float:right;
	margin-right:20px
	margin-top -108px
	position: relative
	font-weight bold
	

#settingsSaveButton
	button green

.yesButton
	button(yesButtonColor)

.noButton
	button(noButtonColor)

.controlPanel
	height 9vh
	margin-left 3px
	#doneButton
		button(doneButtonColor)
		color black
		width: 160px;
		height: 33px;
		padding 0px 0px 0px 25px
		background-image: url(../images/checkmark-26.png);
		background-repeat: no-repeat;
		background-position: 5%
	#startButton
		margin-left 20px
		button(green)
		display none
		color black
		width: 150px;
		padding 0px 0px 0px 25px
		height: 33px;
		background-image: url(../images/ok-26.png);
		background-repeat: no-repeat;
		background-position: 5%
	#csvExportButton
		margin-left 10px
		display none
		color black
		width: 120px;
		padding 0px 0px 0px 25px
		height: 33px;
		background-image: url(../images/csv-26.png);
		background-repeat: no-repeat;
		background-position: 5%
	#backButton
		button red
		display none
		color black
		width: 190px;
		padding 0px 0px 0px 25px
		height: 33px;
		background-image: url(../images/undo-26.png);
		background-repeat: no-repeat;
		background-position: 5%
	#settingsButton
		button grey
		float right
		margin-right 5px
		background-image: url(../images/settings-26.png);
		background-repeat: no-repeat;
		background-position: 15%
		padding 0px 0px 0px 30px
		color black
		width: 100px;
		height: 33px;
	.consoleWrapper
		float right
		margin-right 3px
		overflow auto
		height 9vh
		width 630px
		border 1px solid black

.outputNode
	display inline-block
	width 10%
	height 300px
	margin: 0px 1px 0px 1px
	textarea
		width 100%
		height 100%
		resize none
		box-shadow: none;
		outline: none;
	
.outputNodeName
	display inline-block
		
.line
.linetemp
	transform: translate3d(0,0,0);
	transform-origin: 0 100%;
	border-top: 1px solid rgba(255, 255, 255, 0);
	height 1px
	background: #000;
	z-index -2

.modal-content
	border-radius 0px !important


.slider
	background: #CCC

	margin-top 15px

.knob
	position: relative;
	background: red
	top -34px

.outputContainer
	text-align center

#outputSlider
	visibility hidden
	// float right
	position fixed
	bottom 25px
	left 25px
	z-index 2

#linesControl
	display none
	float: right
	margin-right 5px


#linesControlText
	display none
	float right
	margin-top 5px
	margin-right 10px

#linesUp
#linesDown
	display block
	height 5px
	width 5px
	line-height: 0.3em;
	font-size: 11px;
	padding: 8.3px 16px 8.3px 11px;