<!DOCTYPE html>
html(lang='en')
	head
		meta(charset='UTF-8')
		title comgen2. the ultimate combination tool
		link(rel="stylesheet", href="css/main.css")
		link(rel="icon", href="favicon.ico")
	body.fp
		.fpheader
			|comgen2. the ultimate combination tool

		.fpcontent
			a(href="yeah.html" class="fpLink") ready to combine?
		.fpfooter
			a(href="http://gosteev.me")
				img(src="images/crown.png")