@import 'nib'
@import 'vendor/axis/index'
@import 'vendor/jeet/index'
@import 'vendor/bootstrap'
normalize-css()

input
   text-align center // placeholders

body
	background #fff

button
	button()
	outline: none;
	border-radius 0px !important

.coffeeImg
	display block
	margin auto
	
.coffeeModalDialog
	width 340px


.browsers
	width 25px
	position relative
	top -2px

.logo
	width 350px
	float right
	margin 10px 10px 0px 0px
	
.buttonBr
	height 15px

.levelButtonsWrapper
	margin-bottom: 17px;
	height 33px
	width 210px
	text-align center

.addNodeButtonWrapper
	position relative
	width:200px;
	text-align:center;

	
.addNodeButton
	background-image: url(../images/add_list-26.png);
	background-repeat: no-repeat;
	background-position: 13%
	padding 0px 0px 0px 30px
	color black
	height 33px
	width 110px
	position relative
	top -55px

.addFirstNode
	@extends .addNodeButton
	top 0px


.addLevelButtonWrapper
	position relative
	bottom 53px
	right -345px
	width 125px

.addLevelButton
	button(green)
	color black
	padding 0px 0px 0px 30px
	width 130px
	height 33px
	background-image: url(../images/add_column-26.png);
	background-repeat: no-repeat;
	background-position: 13%
	

.removeLevelButton
	button(red)
	color black
	padding 0px 0px 0px 30px
	width 130px
	height 33px
	background-image: url(../images/delete_column-26.png);
	background-repeat: no-repeat;
	background-position: 13%
	
.greetings
	h2()
	text-align center


.levelContanter
	padding-top 10px
	overflow-x auto
	width auto
	height 90vh;
	margin 3px 
	border 3px solid black

.level
	display table-cell
	min-width 305px
	
#editModalTextbox
	width 598px
	height 600px
	resize: none
	overflow-x auto
	white-space: nowrap
	box-shadow: none
	outline: none
	border 0px solid

.levelDragArea
	visibility hidden
	background: #AAA;
	width: 60px;
	height: 20px;
	position: relative;
	top: -21px;
	right: -5px;

.levelDragButton
	visibility hidden
	position: relative;
	top: -42px;
	right: -70px;
	width: 60px;
	height: 20px;
	padding: 0px;


.node
	padding 2px 0 8px 5px
	width 300px
	height 200px
	.nodeCanvas
		width 200px
		height 100%
		float left
		textarea
			resize: none
			overflow-x auto
			white-space: nowrap;
			border 2px solid #777
			vertical-align top
			width 200px
			height 100%
			box-shadow: none;
			outline: none;
	.buttons
		.linkButton
			button(blue)
			visibility hidden
			background-image: url(../images/link-26.png);
			background-repeat: no-repeat;
			background-position: 15%
			padding 0px 0px 0px 20px
			color black
			width 80px
			&:focus
				background-color: blue - 50%
		.dndButton
			button(#AD3EFF)
			visibility hidden
			background-image: url(../images/hand_cursor-26.png);
			background-repeat: no-repeat;
			background-position: 15%
			padding 0px 0px 0px 20px
			color black
			width 80px
			&:active
				background-color: #AD3EFF - 50%

		.deleteLinkButton
			button(#FF6464)
			position relative
			bottom -68px
			visibility hidden
			background-image: url(../images/delete_link-26.png);
			background-repeat: no-repeat;
			background-position: 15%
			width 80px
			padding 0px 0px 0px 30px
			color black
		
		.deleteDragButton
			button(#de2eff)
			position relative
			bottom -66px
			visibility hidden
			background-image: url(../images/delete_hand26.png);
			background-repeat: no-repeat;
			background-position: 15%
			width 80px
			padding 0px 0px 0px 30px
			color black

		.editButton
			button(orange)
			position relative
			top -93px
			background-image: url(../images/edit-26.png);
			background-repeat: no-repeat;
			background-position: 15%
			color black
			padding 0px 0px 0px 20px
			width 80px
			&:hover
				color white
		
		.delButton
			button(gray)
			color black
			padding 0px 0px 0px 25px
			position relative
			top -35px
			background-image: url(../images/delete-26.png);
			background-repeat: no-repeat;
			background-position: 15%
			width 80px
			
		margin-left: 0px;
		display inline-block
		width 50px
		height 100%
		button
			height 30px
			width 40px
		
.levelText
	padding-left 10px
	width 200px
	text-align center
	position relative
	top -1px

.levelName
	position relative
	border 1px solid #bababa

.matrixPosition
	// visibility hidden
	position relative
	left 10px
	top -160px  
	font-weight bold

.nodeName
	position relative
	border-radius 0px !important
	input: blue 80px
	font-size 12px
	top -150px
	&:disabled
		background-color: rgb(235, 235, 228)
	

.editRadio
	float:right;
	margin-right:10px
	margin-top -108px
	position: relative
	border 1px solid black
	background-color #ddd
	

#settingsSaveButton
	button green

#settingsCancelButton
	button red

.controlPanel
	height 9vh
	margin-left 3px
	#doneButton
		button(orange)
	#startButton
		button(green)
		display none
	#csvExportButton
		display none
	#backButton
		display none
	#settingsButton
		float right
		margin-right 5px
		background-image: url(../images/settings-25.png);
		background-repeat: no-repeat;
		background-position: 15%
		padding 0px 0px 0px 30px
		color black
		width: 100px;
		height: 33px;
	.consoleWrapper
		float right
		margin-right 3px
		overflow auto
		height 9vh
		width 630px
		border 1px solid black

.outputNode
	display inline-block
	width 10%
	height 300px
	margin: 0px 1px 0px 1px
	textarea
		width 100%
		height 100%
		resize none
		box-shadow: none;
		outline: none;
	
.outputNodeName
	display inline-block
		
.line
.linetemp
	transform: translate3d(0,0,0);
	transform-origin: 0 100%;
	border-top: 1px solid rgba(255, 255, 255, 0);
	height 1px
	background: #000;
	z-index -2

.modal-content
	border-radius 0px !important


.slider
	background: #CCC

	margin-top 15px

.knob
	position: relative;
	background: red

.outputContainer
	text-align center

#outputSlider
	visibility hidden
	// float right
	position fixed
	bottom 25px
	left 25px
	z-index 2